.quiz-container {
  max-height: 800px;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6); /* Adjust the last value (alpha) for transparency */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; /* Add border for a smooth appearance */
  border-radius: 10px;
}

.quiz-container button {
  background-color: rgba(76, 175, 80, 0.9); /* Adjust the last value (alpha) for transparency */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.quiz-container button:hover {
  background-color: rgba(69, 160, 73, 0.7); /* Adjust the last value (alpha) for transparency */
}