html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url('./assets/background.jpg');
  background-size: cover; /* Ensure the image covers the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Remove background-image property from #root, as it's applied to body */
}

/* You can add more global styles as needed */
